<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <div id="content">
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">
          <a target="_blank" href="http://github.com/martinj/tellsense">Tellsense</a> by <a target="_blank" href="http://martinj.net">Martin Jonsson</a>
           <iframe src="http://ghbtns.com/github-btn.html?user=martinj&repo=tellsense&type=watch"
            allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </p>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      var requirejs = {
        urlArgs: 'v' + Date.now(),
        config: {
          'app': {
            user: <% if (user) { %> '<%= user.username %>' <% } else { %>false<% } %>
          },
        }
      };
    </script>
    <script data-main="/js/app/main.js" src="/js/vendor/require/require.js"></script>
  </body>
</html>
