@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../fonts/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar .brand {
	font-family: 'lobster_1.3regular', Helvetica, Arial, sans-serif;
}