@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../fonts/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
.content-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -40px;
}

.content-wrap > .container-fluid,
.content-wrap > .container {
	padding-top: 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 40px;
	background-color: #f5f5f5;
}

.container .credit {
	text-align: center;
	margin: 10px 0;
}

.container .credit iframe {
	vertical-align: middle;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.navbar .brand {
	font-family: 'lobster_1.3regular', Helvetica, Arial, sans-serif;
}

.sidebar-nav {
  padding: 9px 0;
}

.latest-readings {
	text-align: center;
}

.latest-readings .sensor-value {
	vertical-align: middle;
	font-weight: bold;
	padding-top: 7px;
	margin-right: 5px;
	line-height: 35px;
	display: inline-block;
}

.icon.icon-temp,
.icon.icon-humidity {
	opacity: 0.7;
	width: 24px;
	height: 25px;
	background: url('../img/value-icons.png') no-repeat;
}

.icon.icon-humidity {
	background-position: 0 0;
	margin-right: 6px;
}

.icon.icon-temp {
	background-position: -24px 0px;
}

.timeago {
	font-size: 12px;
	color: #ccc;
}

li.sensor-info {
	min-width: 160px;
}

#loading-indicator {
	display: none;
	opacity: 0.6;
}