<div class="container-fluid">
	<ul class="breadcrumb">
	  <li><a href="#">Home</a> <span class="divider">/</span></li>
	  <li class="active">About</li>
	</ul>
	<div class="row-fluid">
		<div class="span12">
			<h2>About Tellsense</h2>
			<p>
				Tellsense is an application that monitor and stores sensor values suchs as temperature and humidity from
				<a target="_blank" href="http://live.telldus.com">Telldus live</a> and presents them i a graph.
			</p>
			<p>
				Tellsense is an open source product and licensend under MIT license. Grab you copy at <a href="http://github.com/martinj/tellsense">github</a>
			</p>
		</div>
	</div>
</div>