<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li class="active">${sensor.name}</li>
</ul>
<div class="row-fluid">
	<div class="span2">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Temperature</li>
				<li class="temp" data-days="1"><a href="#/sensor/${sensor.id}/temp/1">Last 24h</a></li>
				<li class="temp" data-days="7"><a href="#/sensor/${sensor.id}/temp/7">Last Week</a></li>
				<li class="temp" data-days="365"><a href="#/sensor/${sensor.id}/temp/365">Last Year</a></li>

				<li class="nav-header">Humidity</li>
				<li class="humidity" data-days="1"><a href="#/sensor/${sensor.id}/humidity/1">Last 24h</a></li>
				<li class="humidity" data-days="7"><a href="#/sensor/${sensor.id}/humidity/7">Last Week</a></li>
				<li class="humidity" data-days="365"><a href="#/sensor/${sensor.id}/humidity/365">Last Year</a></li>
			</ul>
		</div>
	</div>
	<div class="chart-container span10">
	</div>
</div>